<!DOCTYPE html>
<html lang="en">
{{ template "head" }}
<body>

{{ template "nav-bar" }}
<div class="container">

    {{ range .Items }}
    <div class="col-sm-3 effect"  style="text-align: center; max-height: 410px; max-width: 480px">
        <div class="row">
            <div><h2>{{ .Title }}</h2></div>
        </div>
        <div class="row text-center" style="display: flex; justify-content: center">
            <img src="{{ .Img }}" class="col-sm-8 rounded"/>
        </div>
        <hr>
        <div class="row ">
            <span>{{ .Description }}</span>
        </div>
        <div class="row " style="padding-bottom: 20px">
            <h4>Цена: {{ .Price }}</h4>
        </div>
    </div>
    {{ end }}

</div>
</body>
<style>
    .effect:hover {
        background: rgba(0,0,0,0);
        color: #3a7999;
        box-shadow: inset 0 0 0 3px #3a7999;
    }

</style>
</html>
